.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image {
  width: 100%;
  height: 300px; /* Фіксована висота */
  object-fit: cover; /* Обрізка для рівномірного відображення */
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}
